MAGIC_LINK_SECRET=MAGIC_LINK_SECRET
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/kodingkorp
AUTO_MIGRATE=TRUE
PORT=5000
HOST=0.0.0.0
IAM_JWT_SECRET=TEST
BCRYPT_SALT=12
RUST_LOG=none
REDIS=redis://127.0.0.1:6379
SMTP=127.0.0.1
SMTP_PORT=2525
SMTP_UNAME=admin
SMTP_PASS=admin
DEFAULT_SENDER=shivam@kodingkorp.com
DEFAULT_SENDER_NAME=Shivam
ENV=development
BASE_LOGIN_LINK=http://localhost:3000/login/
CRATE_NAME=one-project-backend
RUST_BACKTRACE=full
CRATE_LOG=trace
SCHEDULER_POLL_INTERVAL=10
MAX_SESSION_DURATION=86400
HOST_PORT=5000
COOKIE_DOMAIN=localhost
